<div class="row mb-1 mt-1">
  <div class="col-sm-12">
    <button class="btn btn-success">Add Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <a href="#" *ngFor="let recipe of recipes" class="list-group-item  clearfix black">
      <div class="float-left">
        <h4>{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
      </div>
      <span class="float-right">
        <img [src]="recipe.image" alt="" class="img-responsive"
          style="max-height: 50px;">
      </span>
    </a>
  </div>
</div>