<div class="row mb-1 mt-1">
  <div class="col-sm-12">
    <button class="btn btn-success">Add Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <a href="#" class="list-group-item  clearfix black">
      <div class="float-left">
        <h4>French fries</h4>
        <p class="list-group-item-text">very hot french fries chips</p>
      </div>
      <span class="float-right">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Fries_2.jpg/800px-Fries_2.jpg" alt="" class="img-responsive"
          style="max-height: 50px;">
      </span>
    </a>
  </div>
</div>